header h1{
    font-size: 70px;
    letter-spacing: 15px;
}
.flex-container {
    display: -webkit-flex;
    display: flex;  
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
}

.flex-container > * {
    padding: 15px;
    -webkit-flex: 1 100%;
    flex: 1 100%;
}

.article {
    text-align: left;
}

header {
	background-image: url(../image/banner.jpg);
    font-family: Fantasy;
    background-repeat: no-repeat;
    background-size: cover;
}
footer {
	background: #aaa;color:white;
	bottom: 0;
	position: fixed;
	width: 100%
}

.about {
	background:#eee;
	margin-top: 20px;

}
.btn {
  background-color: #ddd;
  border: none;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
}

.btn:hover {
  background-color: #3e8e41;
  color: white;
}

@media all and (min-width: 100vh) {
    .about {text-align:left;-webkit-flex: 1 auto;flex:1 auto;-webkit-order:1;order:1;}
    .article {-webkit-flex:5 0px;flex:5 0px;-webkit-order:2;order:2;}
    footer {-webkit-order:3;order:3;}
}